.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}

.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}
.product-info {
  padding: 0 14px;
}
.product-info p {
  margin-bottom: 0px;
  margin-top: 5px;
}
.product-name {
  font-size: 21px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 7px;
}
.product-price {
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}

.btn-cart {
  width: 100%;
  background: #ffe0b3;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-cart p {
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0125em;
  padding-right: 5px;
}
.btn-cart:hover {
  background-color: orange;
}
